<html>

<head>

</head>

<body bgcolor="lightgreen">

    <h1 align="center">Welcome</h1>

    <br><br><br><br><br><br><br><br><br><br><br>
    <table align="center">
        <tr>
            <td>User id: </td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Login"></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Register" ng-click="Registration()"></td>
    </table>
</body>

</html>