<html>

<head>

</head>

<body bgcolor="skyblue">

    <h1 align="center"> Register Yourself </h1>
    <br><br>

    <h2 align="center"> Enter your details for registration:- </h2>

    <table cellpadding="10" align="center">

        <tr>
            <td> First Name: </td>
            <td><input type="text" name="First_naame" ng-model="firstName" maxlength="30" /> (max 30 characters a-z and A-Z)
            </td>
        </tr>

        <tr>
            <td> Last Name: </td>
            <td><input type="text" name="Last_name" ng-model="lastName" maxlength="30" /> (max 30 characters a-z and A-Z)
            </td>
        </tr>

        <tr>
            <td> Date of Birth: </td>
            <td><input type="text" name="Last_name" ng-model="dob" maxlength="30" />
                <td>
        </tr>
        <!-- <select name="Birth_day" id="Birth_day" ng-model="day">
                <option value="-1"> Day: </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
                <option value="9"> 9 </option>
                <option value="10"> 10 </option>

                <option value="11"> 11 </option>
                <option value="12"> 12 </option>
                <option value="13"> 13 </option>
                <option value="14"> 14 </option>
                <option value="15"> 15 </option>
                <option value="16"> 16 </option>
                <option value="17"> 17 </option>
                <option value="18"> 18 </option>
                <option value="19"> 19 </option>
                <option value="20"> 20 </option>

                <option value="21"> 21 </option>
                <option value="22"> 22 </option>
                <option value="23"> 23 </option>
                <option value="24"> 24 </option>
                <option value="25"> 25 </option>
                <option value="26"> 26 </option>
                <option value="27"> 27 </option>
                <option value="28"> 28 </option>
                <option value="29"> 29 </option>
                <option value="30"> 30 </option>
                <option value="31"> 31 </option>
            </select> 

                <select name="Birth_month" id="Birth_month" ng-model="month">
                <option value="-1"> Month: </option>
                <option value="January"> Jan </option>
                <option value="February"> Feb </option>
                <option value="March"> Mar </option>
                <option value="April"> Apr </option>
                <option value="May"> May </option>
                <option value="June"> Jun </option>
                <option value="July"> Jul </option>
                <option value="August"> Aug </option>
                <option value="September"> Sep </option>
                <option value="October"> Oct </option>
                <option value="November"> Nov </option>
                <option value="December"> Dec </option>
            </select>

                <select name="Birth_Year" id="Birth_Year" ng-model="year">
                <option value="-1"> Year: </option>
                <option value="2018"> 2018 </option>
                <option value="2017"> 2017 </option>
            </select> -->

        <tr>
            <td> Email id </td>
            <td><input type="text" name="Email id" ng-model="emailId" maxlength="100" /> (max 100 characters)
            </td>
        </tr>

        <tr>
            <td> Roll Number </td>
            <td><input type="text" name="Employee id" ng-model="rollNo" maxlength="10" />
            </td>
        </tr>

        <tr>
            <td> Password </td>
            <td><input type="text" name="Employee id" ng-model="password" maxlength="10" />
            </td>
        </tr>

        <tr>
            <td> Re-Enter Password </td>
            <td><input type="text" name="Employee id" ng-model="password" maxlength="10" />
            </td>
        </tr>

        <tr>
            <td> Mobile Number </td>
            <td><input type="text" name="Mobile Number" ng-model="mobileNo" maxlength="10" /> (10 digit number)
            </td>
        </tr>

        <tr>
            <td> Gender </td>
            <td>
                <input type="radio" ng-model="male" name="Gender" value="Male" />Male
                <input type="radio" ng-model="female" name="Gender" value="Female" />Female
            </td>
        </tr>

        <tr>
            <td> City </td>
            <td><input type="text" name="City" ng-model="cityName" maxlength="30" /> (max 30 characters a-z and A-Z)
            </td>
        </tr>

        <tr>
            <td> State </td>
            <td><input type="text" name="State" ng-model="stateName" maxlength="30" /> (max 30 characters a-z and A-Z)
            </td>
        </tr>

        <tr>
            <td> Country </td>
            <td><input type="text" name="Country" ng-model="countryName" maxlength="30" /> (max 30 characters a-z and A-Z)
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="button" ng-click="nextButtonAction()" value="next"></td>
        </tr>

</body>

</html>