<html>

<head>

</head>

<body bgcolor=CCFF33>
    <center>
        <h1>Welcome!</h1>

    </center><br><br>
    <center><video autoplay></video> </iframe>
    </center>
    <p>
        <center>
            <!-- In - time:
            <iframe height="50" width="100" src="">   </iframe> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Out - time:
            <iframe height="50" width="100" src="">   </iframe> -->
            <dialog open>Today's attendance status: ________________________</dialog>
        </center>
    </p>
</body>

</html>