<html>

<head>

</head>

<body bgcolor=CCFF33>
    <center>
        <h1>Welcome!</h1>
        <dialog open>Alerts for you: ________________________</dialog>
        <br><br><br><br>
        <p>Today's attendance status:-</p>
    </center><br><br>
    <p>
        <center>
            In - time:
            <iframe height="50" width="100" src="">   </iframe> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Out - time:
            <iframe height="50" width="100" src="">   </iframe>
        </center>
    </p>
</body>

</html>